---
import { ArrowRight } from "@lucide/astro"
import { accordionControls, getControlDefaults } from "@zag-js/shared"
import Toolbar from "../components/Toolbar.astro"
import Controls from "../components/Controls.astro"
import StateVisualizer from "../components/StateVisualizer.astro"
import Layout from "../layouts/Layout.astro"

const state = getControlDefaults(accordionControls)
---

<script>
  import * as accordion from "@zag-js/accordion"
  import { accordionData } from "@zag-js/shared"
  import Alpine from "alpinejs"
  import { usePlugin } from "../lib"

  Alpine.magic("accordionData", () => accordionData)
  Alpine.plugin(usePlugin("accordion", accordion))
</script>

<Layout>
  <div
    x-data={JSON.stringify(state)}
    x-id="['accordion']"
    x-accordion={`{id: $id('accordion'), ${Object.keys(state)}}`}
  >
    <main class="accordion">
      <div x-accordion:root>
        <template x-for="item in $accordionData" x-bind:key="item.id">
          <div x-accordion:item="{value: item.id}">
            <h3>
              <button
                x-bind:data-testid="item.id + ':trigger'"
                x-accordion:item-trigger="{value: item.id}"
                x-text="item.label"
              >
                <div x-accordion:item-indicator="{value: item.id}">
                  <ArrowRight />
                </div>
              </button>
            </h3>
            <div x-bind:data-testid="item.id + ':content'" x-accordion:item-content="{value: item.id}">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </div>
          </div>
        </template>
      </div>
    </main>

    <Toolbar>
      <Controls config={accordionControls} {state} slot="controls" />
      <StateVisualizer />
    </Toolbar>
  </div>
</Layout>
