---
import { clipboardControls, getControlDefaults } from "@zag-js/shared"
import ClipboardCheck from "@lucide/astro/icons/clipboard-check"
import ClipboardCopy from "@lucide/astro/icons/clipboard-copy"
import Layout from "../layouts/Layout.astro"
import Toolbar from "../components/Toolbar.astro"
import Controls from "../components/Controls.astro"
import StateVisualizer from "../components/StateVisualizer.astro"
import Nav from "../components/Nav.astro"

const state = getControlDefaults(clipboardControls)
---

<script>
  import * as clipboard from "@zag-js/clipboard"
  import Alpine from "alpinejs"
  import { usePlugin } from "../lib"

  Alpine.plugin(usePlugin("clipboard", clipboard))
</script>

<Layout>
  <div
    class="page"
    x-data={JSON.stringify(state)}
    x-id="['clipboard']"
    x-clipboard={`{id: $id('clipboard'), value: 'https://github.com/chakra-ui/zag', ${Object.keys(state)}}`}
  >
    <Nav />
    <main class="clipboard">
      <div x-clipboard:root>
        <label x-clipboard:label>Copy this link</label>
        <div x-clipboard:control>
          <input x-clipboard:input />
          <button x-clipboard:trigger>
            <template x-if="$clipboard.copied">
              <ClipboardCheck />
            </template>
            <template x-if="! $clipboard.copied">
              <ClipboardCopy />
            </template>
          </button>
          <div x-clipboard:indicator="{copied: true}">Copied!</div>
          <div x-clipboard:indicator="{copied: false}">Copy</div>
        </div>
      </div>

      <Toolbar>
        <Controls config={clipboardControls} {state} slot="controls" />
        <StateVisualizer label="clipboard" />
      </Toolbar>
    </main>
  </div>
</Layout>
