---
import Nav from "../components/Nav.astro"
import Layout from "../layouts/Layout.astro"
---

<script>
  import * as dialog from "@zag-js/dialog"
  import Alpine from "alpinejs"
  import { usePlugin } from "../lib"

  Alpine.plugin(usePlugin("dialog", dialog))
</script>

<Layout>
  <div class="page" x-data="{nextContent: false}" x-id="['dialog']" x-dialog="{id: $id('dialog')}">
    <Nav />
    <main>
      <button x-dialog:trigger>Click me</button>
      <div>
        <div x-dialog:backdrop></div>
        <div x-dialog:positioner>
          <div x-dialog:content>
            <template x-if="! nextContent">
              <button x-on:click="nextContent = true">Set next content</button>
            </template>
            <template x-if="nextContent">
              <button x-on:click="nextContent = false">Set previous content</button>
            </template>
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>
