---
import { editableControls, getControlDefaults } from "@zag-js/shared"
import Layout from "../layouts/Layout.astro"
import Nav from "../components/Nav.astro"
import Toolbar from "../components/Toolbar.astro"
import Controls from "../components/Controls.astro"
import StateVisualizer from "../components/StateVisualizer.astro"

const state = getControlDefaults(editableControls)
---

<script>
  import * as editable from "@zag-js/editable"
  import Alpine from "alpinejs"
  import { usePlugin } from "../lib"

  Alpine.plugin(usePlugin("editable", editable))
</script>

<Layout>
  <div
    class="page"
    x-data={JSON.stringify(state)}
    x-id="['editable']"
    x-editable={`{id: $id('editable'), defaultValue: 'Hello World', ${Object.keys(state)}}`}
  >
    <Nav />
    <main class="editable">
      <div x-editable:root>
        <div x-editable:area>
          <input data-testid="input" x-editable:input />
          <span data-testid="preview" x-editable:preview></span>
        </div>
        <div x-editable:control>
          <template x-if="! $editable.editing">
            <button data-testid="edit-button" x-editable:edit-trigger>Edit</button>
          </template>
          <template x-if="$editable.editing">
            <div>
              <button data-testid="save-button" x-editable:submit-trigger>Save</button>
              <button data-testid="cancel-button" x-editable:cancel-trigger>Cancel</button>
            </div>
          </template>
        </div>
      </div>
    </main>
    <Toolbar>
      <Controls config={editableControls} {state} slot="controls" />
      <StateVisualizer />
    </Toolbar>
  </div>
</Layout>
