---
import { getControlDefaults, listboxControls } from "@zag-js/shared"
import Layout from "../layouts/Layout.astro"
import Nav from "../components/Nav.astro"
import Toolbar from "../components/Toolbar.astro"
import Controls from "../components/Controls.astro"
import StateVisualizer from "../components/StateVisualizer.astro"

const state = getControlDefaults(listboxControls)
---

<script>
  import * as listbox from "@zag-js/listbox"
  import { selectData } from "@zag-js/shared"
  import Alpine from "alpinejs"
  import { usePlugin } from "../lib"

  Alpine.magic("selectData", () => selectData)
  Alpine.magic("gridCollection", () => {
    return (options: any) => listbox.gridCollection(options)
  })
  Alpine.plugin(usePlugin("listbox", listbox))
</script>

<Layout>
  <div
    class="page"
    x-data={JSON.stringify(state)}
    x-id="['listbox']"
    x-listbox:collection="$gridCollection({items: $selectData, columnCount: 3})"
    x-listbox={`{collection, id: $id('listbox'), ${Object.keys(state)}}`}
  >
    <Nav />
    <main class="listbox">
      <div x-listbox:root>
        <label x-listbox:label>Label</label>
        <ul x-listbox:content>
          <template x-for="item in collection.items" x-bind:key="item.value">
            <li x-listbox:item="{ item }">
              <div x-text="item.label"></div>
              <span x-listbox:item-indicator="{ item }">✓</span>
            </li>
          </template>
        </ul>
      </div>
    </main>

    <Toolbar viz>
      <Controls config={listboxControls} {state} slot="controls" />
      <StateVisualizer context={["highlightedValue"]} />
    </Toolbar>
  </div>
</Layout>
