---
import { getControlDefaults, passwordInputControls } from "@zag-js/shared"
import EyeIcon from "@lucide/astro/icons/eye"
import EyeOffIcon from "@lucide/astro/icons/eye-off"
import Layout from "../layouts/Layout.astro"
import Toolbar from "../components/Toolbar.astro"
import Controls from "../components/Controls.astro"
import StateVisualizer from "../components/StateVisualizer.astro"

const state = getControlDefaults(passwordInputControls)
---

<script>
  import * as passwordInput from "@zag-js/password-input"
  import Alpine from "alpinejs"
  import { usePlugin } from "../lib"

  Alpine.plugin(usePlugin("password-input", passwordInput))
</script>

<Layout>
  <div
    class="page"
    x-data={JSON.stringify(state)}
    x-id="['password-input']"
    x-password-input={`{id: $id('password-input'), ${Object.keys(state)}}`}
  >
    <main class="password-input">
      <div x-password-input:root>
        <label x-password-input:label>Password</label>
        <div x-password-input:control>
          <input x-password-input:input />
          <button x-password-input:visibility-trigger>
            <span x-password-input:indicator>
              <template x-if="$passwordInput.visible">
                <EyeIcon />
              </template>
              <template x-if="! $passwordInput.visible">
                <EyeOffIcon />
              </template>
            </span>
          </button>
        </div>
      </div>
    </main>

    <Toolbar>
      <Controls config={passwordInputControls} {state} slot="controls" />
      <StateVisualizer label="password-input" />
    </Toolbar>
  </div>
</Layout>
