---
import Nav from "../components/Nav.astro"
import Popover from "../components/Popover.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div class="page">
    <Nav />
    <main class="popover">
      <Popover id="p1">
        <Popover nested id="p2">
          <Popover nested id="p3" />
        </Popover>
      </Popover>
    </main>
  </div>
</Layout>
