---
import type { MachineSchema, Service } from "@zag-js/core"

interface Props<T extends MachineSchema> {
  state: Service<T>
  label?: string
  omit?: string[]
  context?: Array<keyof T["context"]>
}
const { label } = Astro.props
---

<div class="viz">
  <pre
    dir="ltr">
        <details open>
          <summary> {label || "Visualizer"} </summary>
          <div x-html="$highlightState" />
        </details>
      </pre>
</div>
